html, 
body {
    height: 100%;
    margin: 0;
    background: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 403px;
    height: 403px;
    background-image: url('https://cdn.wallpapersafari.com/5/21/0pGDmT.jpg');
    border: 1px solid white;
}